/*Basic settings*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
a {
  color: #252b42;
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-style: inherit;
}
html,
body {
  color: #252b42;
  height: 100%;
  line-height: 1;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}
._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
}
._container {
  max-width: 1076px;
  padding: 0px 15px;
  margin: 0 auto;
}
/*Colors*/
/*Basic SetUps*/
.main__title {
  font-size: 40px;
  font-weight: 700;
  line-height: calc(142.5%);
  letter-spacing: 0.2px;
  color: #252b42;
}
.main__subtitle {
  font-size: 14px;
  font-weight: 500;
  line-height: calc(142.85714286%);
  letter-spacing: 0.2px;
  color: #737373;
}
/*___________ШАПКА___________*/
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 104px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  font-size: 24px;
  font-weight: 700;
  line-height: calc(133.33333333%);
  letter-spacing: 0.1px;
}
.header__logo:hover {
  color: #424B70;
}
.header__menu {
  margin: 0px 0px 0px 132px;
}
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.menu__option {
  color: #737373;
  font-weight: 600;
  line-height: calc(171.42857143%);
  letter-spacing: 0.2px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.menu__option:hover {
  color: #4D4A49;
  text-decoration: underline;
}
.menu__option:not(:last-child) {
  margin: 0px 21px 0px 0px;
}
/*___________PAGE___________*/
.page__services {
  margin: -111px 0px 0px 0px;
}
.page__consulting {
  background-color: #fafafa;
}
/*___________MAIN-BLOCK___________*/
.main-block {
  position: relative;
}
.main-block__body {
  padding: 184px 0px 191px 0px;
  max-width: 400px;
}
.main-block__body > *:not(:last-child) {
  margin: 0px 0px 35px 0px;
}
.main-block__title {
  font-size: 58px;
  font-weight: 800;
  line-height: calc(137.93103448%);
  letter-spacing: 0.2px;
}
.main-block__subtitle {
  color: #737373;
  font-size: 20px;
  font-weight: 500;
  line-height: calc(150%);
  letter-spacing: 0.2px;
}
.main-block__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -10px 0;
}
.main-block__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  min-height: 48px;
  padding: 10px 36px;
  border-radius: 37px;
  background-color: #ff7b47;
  color: #fff;
  font-weight: 700;
  line-height: calc(200%);
  letter-spacing: 0.2px;
  margin: 10px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.main-block__button:hover {
  background-color: #fff;
  color: #ff7b47;
}
.main-block__button-green {
  border: 1px solid #0d5c63;
  background-color: transparent;
  color: #0d5c63;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.main-block__button-green:hover {
  background-color: #0d5c63;
  color: #fff;
}
.bg__img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}
.bg__img img {
  -o-object-position: right;
     object-position: right;
}
/*___________SERVICES___________*/
.services__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}
.services__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 15px;
}
.services__item {
  height: 100%;
  background-color: #fff;
  padding: 35px;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
.services__item > *:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.services__item-green {
  background-color: #0d5c63;
}
.services__item-green .services__title,
.services__item-green .services__subtitle {
  color: #fff;
}
.services__title {
  font-size: 24px;
  font-weight: 700;
  line-height: calc(133.33333333%);
  letter-spacing: 0.1px;
}
/*_________________ADVANTAGES___________________*/
.advantages__body {
  padding: 80px 0px 80px 0px;
}
.advantages__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px -15px 0px -15px;
}
.advantages__column {
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}
.advantages__item {
  height: 100%;
  min-width: 238px;
  background-color: #fff;
  padding: 30px;
  text-align: center;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
.advantages__item > *:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.advantages__subtitle {
  color: #737373;
  font-size: 16px;
  font-weight: 700;
  line-height: calc(150%);
  letter-spacing: 0.1px;
}
/*_________________TEXT-BLOCK___________________*/
.text-block {
  text-align: center;
}
.text-block__title {
  font-size: 40px;
  font-weight: 700;
  line-height: calc(142.5%);
  letter-spacing: 0.2px;
  color: #252b42;
  margin: 0px 0px 10px 0px;
}
.text-block__subtitle {
  font-size: 14px;
  font-weight: 500;
  line-height: calc(142.85714286%);
  letter-spacing: 0.2px;
  color: #737373;
}
/*_________________ADVICE-BLOCK___________________*/
.advice {
  padding: 125px 0px 80px 0px;
}
.advice__text-block {
  margin: 0px 0px 45px 0px;
}
.advice__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -20px -30px;
}
.advice__column {
  padding: 0 20px;
  margin: 0px 0px 30px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}
.advice__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  height: 100%;
}
.advice__item-text {
  padding: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.advice__title {
  font-size: 16px;
  font-weight: 700;
  line-height: calc(150%);
  letter-spacing: 0.1px;
}
.advice__img {
  width: 100%;
}
/*_________________ABOUT-BLOCK___________________*/
.about {
  padding: 136px 0px 100px 0px;
}
.about__text-block {
  margin: 0px 0px 100px 0px;
}
.about__items {
  padding: 50px 0px 0px 0px;
}
.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about__video {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 57%;
          flex: 0 0 57%;
  position: relative;
  padding: 0 0 42.25% 0;
}
.about__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.about__main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0px 0px 0px 121px;
}
/*_________________ITEMS-ABOUT___________________*/
.items-about__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.items-about__block:not(:last-child) {
  margin: 0px 0px 30px 0px;
}
.items-about__text-block {
  padding: 0px 0px 0px 20px;
}
.items-about__title {
  font-size: 16px;
  font-weight: 700;
  line-height: calc(150%);
  letter-spacing: 0.1px;
}
.items-about__subtitle {
  color: #737373;
  font-weight: 600;
  line-height: calc(171.42857143%);
  letter-spacing: 0.2px;
  width: 222px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*_________________LINKS___________________*/
.links__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0px 87px 0px;
}
.links__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.6%;
          flex: 0 1 16.6%;
  margin: 10px -25px;
  text-align: center;
}
.links__link {
  padding: 0px 25px;
  margin: -10px 0px;
}
/*_________________SUBSCRIBE___________________*/
.subscribe {
  position: relative;
  padding: 0px 0px 20px 0px;
}
.subscribe::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 77px;
  bottom: 0;
  background-color: #252b42;
  z-index: -1;
}
.form-subscribe__body {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2px;
  padding: 30px 45px;
  background-color: #17213C;
}
.form-subscribe__title {
  max-width: 266px;
  font-size: 24px;
  font-weight: 700;
  line-height: calc(133.33333333%);
  letter-spacing: 0.1px;
  color: #fff;
  margin: 0px 0px 20px 0px;
}
.form-subscribe__main {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form-subscribe__input {
  min-height: 58px;
  border-radius: 3px 0px 0px 3px;
  padding: 15px 0px 15px 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  line-height: calc(200%);
  letter-spacing: 0.2px;
}
.form-subscribe__input:focus {
  color: #000;
}
.form-subscribe__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #fff;
  color: #fff;
  background-color: #FF7B47;
  min-height: 58px;
  padding: 0 22.5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  line-height: calc(200%);
  letter-spacing: 0.2px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.form-subscribe__button:hover {
  background-color: #E14D0E;
}
/*_________________CONTACT___________________*/
.contact {
  padding: 80px 0px 148px 0px;
}
.contact__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 110px 0px 0px 0px;
}
.contact__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}
.contact__item {
  padding: 50px 40px;
  text-align: center;
  background-color: #fff;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
.contact__item-green {
  background-color: #252b42;
}
.contact__item-green {
  padding: 80px 40px;
  color: #fff;
}
.contact__item-green .mail-block__text {
  color: #fff;
}
.contact__item-green .contact__button {
  color: #fff;
  border: 1px solid #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.contact__item-green .contact__button:hover {
  color: #252b42;
  background-color: #fff;
}
.contact__item > *:not(:last-child) {
  margin: 0px 0px 15px 0px;
}
.mail-block__text {
  font-weight: 600;
  line-height: calc(171.42857143%);
}
.contact__title {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(150%);
}
.contact__button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  color: #ff7b47;
  border: 1px solid #ff7b47;
  background: transparent;
  font-weight: 600;
  line-height: calc(171.42857143%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.contact__button:hover {
  background-color: #ff7b47;
  color: #fff;
}
/*_________________CONSULTING___________________*/
.consulting__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0px;
}
.consulting__title {
  font-size: 24px;
  font-weight: 700;
  line-height: calc(133.33333333%);
  letter-spacing: 0.1px;
  margin: 0px 0px 10px 0px;
}
.consulting__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 5px;
  padding: 15px 40px;
  color: #fff;
  background-color: #ff7b47;
  font-weight: 700;
  line-height: calc(200%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.consulting__button:hover {
  background-color: #E14D0E;
  color: #fff;
}
/*_________________FOOTER___________________*/
.footer {
  background-color: #17213C;
}
.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 50px 0px;
}
.footer__title {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(150%);
  color: #fff;
  margin: 0px;
}
.links-block {
  padding: 20px 0px 0px 0px;
}
.links-block > *:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.links-block__link {
  display: block;
  font-weight: 600;
  line-height: calc(171.42857143%);
  color: #fff;
}
.links-block__link-over {
  width: 239px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.footer__connection .links-block__link {
  display: inline-block;
  padding: 0px 0px 0px 10px;
}
.footer__connection:not(:last-child) {
  margin: 0px 0xp 10px 0px;
}
/*___________АДАПТИВ___________*/
@media (max-width: 1080px) {
  .about__main {
    padding: 0px 0px 0px 50px;
  }
}
@media (max-width: 1073px) {
  .advantages__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .advantages__column:not(:nth-last-child(2)) {
    margin: 0px 0px 15px 0px;
  }
  .advantages__column:last-child {
    margin: 0;
  }
}
@media (min-width: 1070px) {
  .form-subscribe__body {
    margin: 0px 30px;
  }
}
@media (max-width: 1064px) {
  .bg__img {
    opacity: 50%;
  }
}
@media (max-width: 1014px) {
  .advice__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
@media (max-width: 1011px) {
  .contact__body {
    margin: 0px -10px;
  }
  .contact__column {
    padding: 0px 10px;
  }
  .contact__item {
    padding: 40px 20px;
  }
}
@media (min-width: 1011px) {
  .contact__item-green {
    margin: -30px 0px 0px 0px;
  }
}
@media (max-width: 992px) {
  .header__menu {
    margin: 0px 0px 0px 70px;
  }
  .main-block__body {
    padding: 130px 0px 191px 0px;
  }
  .services__item {
    padding: 30px;
  }
  .advice {
    padding: 70px 0px 80px 0px;
  }
  .about {
    padding: 50px 0px;
  }
}
@media (max-width: 952px) {
  .services__column:not(:last-child) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .services__column:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin: 30px 0px 0px 0px;
  }
  .about__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about__items {
    padding: 30px 0px;
  }
  .items-about__subtitle {
    width: 100%;
    overflow: visible;
    white-space: normal;
  }
  .links__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
  }
}
@media (max-width: 930px) {
  .contact__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 300px;
            flex: 0 1 300px;
  }
}
@media (max-width: 910px) {
  .contact__column:last-child {
    margin: 20px 0px 0px 0px;
  }
  .contact {
    padding: 80px 0px;
  }
  .footer__body {
    padding: 30px 0px;
  }
  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
  }
  .footer__column:nth-last-child(4) {
    text-align: center;
  }
  .footer__column:nth-last-child(3) {
    text-align: right;
  }
  .footer__column:nth-last-child(2) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin: 40px 0px 0px 0px;
    text-align: center;
  }
  .footer__column:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin: 40px 0px 0px 0px;
    text-align: center;
  }
}
@media (min-width: 910px) {
  .footer__body {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 850px) {
  .form-subscribe__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .form-subscribe__title {
    margin: 0;
  }
}
@media (max-width: 767px) {
  .header__menu {
    margin: 0px 0px 0px 40px;
  }
  .main-block__body {
    padding: 100px 0px 191px 0px;
  }
  .main-block__body > *:not(:last-child) {
    margin: 0px 0px 20px 0px;
  }
  .about__text-block {
    margin: 0px 0px 60px 0px;
  }
}
@media (max-width: 665px) {
  .contact {
    padding: 80px 0px;
  }
  .contact__body {
    padding: 80px 0px 0px 0px;
  }
  .consulting__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .consulting__text-block {
    text-align: center;
    margin: 0px 0px 20px 0px;
  }
  .consulting__button {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 250px;
            flex: 0 1 250px;
  }
}
@media (max-width: 643px) {
  .links__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
@media (max-width: 614px) {
  .services__column:not(:last-child) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin: 0px 0px 15px 0px;
  }
  .services__column:last-child {
    margin: 0;
  }
  .services__item {
    padding: 25px;
  }
}
@media (max-width: 610px) {
  .contact__column {
    margin: 0px 0px 20px 0px;
  }
}
@media (max-width: 601px) {
  .advice__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
@media (max-width: 537px) {
  .advantages__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .advantages__column:nth-last-child(2) {
    margin: 0px 0px 15px 0px;
  }
}
@media (max-width: 508px) {
  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    text-align: center;
  }
  .footer__column:not(:last-child) {
    padding: 0px 0px 50px 0px;
  }
  .footer__column:nth-last-child(3) {
    text-align: center;
  }
  .footer__column:nth-last-child(2) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .footer__column:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
@media (max-width: 479px) {
  .header__menu {
    margin: 0px 0px 0px 20px;
  }
  .menu__option {
    color: #545050;
  }
  .main-block__title {
    font-size: 44px;
  }
  .main-block__subtitle {
    color: #545050;
    font-size: 16px;
  }
  .main-block__button {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .services__item {
    padding: 20px;
  }
  .advice {
    padding: 30px 0px 50px 0px;
  }
  .about__text-block {
    margin: 0px 0px 30px 0px;
  }
  .about__items {
    padding: 40px 0px;
  }
  .form-subscribe__main {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .form-subscribe__button {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .form-subscribe__title {
    margin: 0px 0px 25px 0px;
  }
  .form-subscribe__input {
    border-radius: 3px 3px 0px 0px;
  }
  .form-subscribe__button {
    border-radius: 0px 0px 3px 3px;
  }
}
@media (min-width: 479px) {
  .main-block__button:not(:last-child) {
    margin-right: 10px;
  }
}
/*Effects*/
